<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="KL_KLARNAMAINMENU">
            <SUBMENU id="KL_START" cl="KlarnaStart" />
            <SUBMENU id="KL_GENERAL_SETTINGS" cl="KlarnaGeneral" />
            <SUBMENU id="KL_CONFIGURATION" cl="KlarnaConfiguration" />
            <SUBMENU id="KL_KLARNADESIGN" cl="KlarnaDesign" />
            <SUBMENU id="KL_EXTERNAL_PAYMENTS" cl="KlarnaExternalPayments" />
            <SUBMENU id="KL_EXTRA_MERCHANT_DATA" cl="KlarnaEmdAdmin" />
        </MAINMENU>
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="kl_tbclklarna_orders" cl="klarna_orders" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>