<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="/var/www/oxideshop/vendor/oxid-esales/testing-library/bootstrap.php"
         cacheTokens="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         printerClass="PHPUnit\TextUI\ResultPrinter"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         testSuiteLoaderClass="PHPUnit\Runner\StandardTestSuiteLoader"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Component</directory>
            <directory suffix=".php">../Controller</directory>
            <directory suffix=".php">../Core</directory>
            <directory suffix=".php">../Model</directory>
        </whitelist>
    </filter>
</phpunit>
